:root {
  --background-color: #161822;
  --purple-color: #4a61dd;
  --purple-color-hover: #4257cf;
  --grey-color: rgb(51, 51, 51);
  --grey-color-hover: rgb(75, 75, 75);
  --orange-color: #4a61dd;
}
