@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import "../../App.css";

html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

.heading {
  font-family: "Montserrat", sans-serif;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: var(--background-color);
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 5px;
  padding: 15px 20px;
  width: 100%;
  border: none;
  background-color: var(--background-color);
  border: 2px solid rgb(51, 51, 51);
  color: white;
  box-sizing: border-box;
}

.joinInput:hover {
  border: 2px solid rgb(75, 75, 75);
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #4a61dd;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  font-size: 16px;
}

.button:hover {
  background: #4257cf;
  cursor: pointer;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
