@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import "../../App.css";

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
}

.chat-wrapper {
  display: grid;
  grid-template-columns: 300px 700px;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid var(--grey-color);
  background-color: white;
  height: 70vh;
}

.list-wrapper {
  padding: 20px;
  background-color: var(--background-color);
  color: white;
}

.messages-wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 60%;
  width: 35%; */
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
