@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import "../../App.css";

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
}

.chat-wrapper {
  display: grid;
  grid-template-columns: 300px 900px;
  width: 1200px;
  margin: 0 auto;
  border: 1px solid var(--grey-color);
  background-color: white;
  height: 70vh;
}

.list-wrapper {
  padding: 20px;
  background-color: var(--background-color);
  background-color: rgb(233, 233, 233);
  color: rgb(29, 29, 29);
}

.list-user {
  background-color: rgb(223, 223, 223);
  padding: 10px;
}

.list-user:hover {
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
